.header {
    background-color: #161616;
}
.title {
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
    display: flex;
    gap: 10px;
    align-items: baseline;
}
.caption {
    font-size: 12px;
    color: #ffffff;
}

.header-label {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header-label img {
    filter: brightness(0) invert(1);
}